<script>
  (async () => {
    const outlet = document.querySelector('#content');

    if(outlet.classList.contains('init')) {
      const apiUrl = 'https://ry5z3rkdza.execute-api.us-east-1.amazonaws.com/production/blogpostings/writer/danny';
      const compile = data => `${data.map(({title, intro, body}) => `<article>${title} ${intro} ${body}</article>`).join('')}`;
      const data = await (await fetch(apiUrl)).json();
      const html = compile(data);

      outlet.querySelector('p').remove();
      outlet.classList.remove('init');
      outlet.insertAdjacentHTML('beforeend', html);
    }
  })();
</script>

</body>
</html>
