<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <base href="/">
    <title>Instant Multi-Page App</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico'>
    <link rel="stylesheet" href="src/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <material-dropdown>
          <i class="material-icons" slot="icon" tabindex="1">menu</i>
          <li slot="option"><a href="/">Home</a></li>
          <li slot="option"><a href="/readablestream">Readable Stream</a></li>
          <li slot="option"><a href="/serviceworker">Service Worker</a></li>
          <li slot="option"><a href="/images">Images</a></li>
          <li slot="option"><a href="/blog">Blog</a></li>
        </material-dropdown>
        <a href="https://github.com/DannyMoerkerke/instant-multi-page-app" target="_blank" rel="noopener" id="github">
          <img src="src/img/github.svg" />
        </a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/readablestream">Readable Stream</a></li>
          <li><a href="/serviceworker">Service Worker</a></li>
          <li><a href="/images">Images</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    </header>

