<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <base href="/">
    <title>Instant Multi-Page App</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico'>
    <link rel="stylesheet" href="src/css/styles.css">
  </head>
  <body>
      <header>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/readablestream">Readable Stream</a></li>
            <li><a href="/serviceworker">Service Worker</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/images">Images</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </nav>
      </header>

    <main>
