<section id="content">
  <h2>Images</h2>
  <img src="src/img/IMG_0791.png" height="450" width="600"/>
  <img src="src/img/IMG_0829.png" height="450" width="600"/>
  <img src="src/img/IMG_0848.png" height="450" width="600"/>
  <img src="src/img/IMG_0860.png" height="450" width="600"/>
  <img src="src/img/IMG_0924.png" height="450" width="600"/>
  <img src="src/img/IMG_0927.png" height="450" width="600"/>
  <img src="src/img/IMG_0955.png" height="450" width="600"/>
  <img src="src/img/IMG_0966.png" height="450" width="600"/>
</section>
