html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-family: Verdana;
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header, footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #337ab7;
  padding: 10px;
  color: #ffffff;
}

material-dropdown {
  display: none;
}

material-dropdown:defined {
  display: block;
}

@media screen and (min-width: 1024px) {
  header, footer {
    justify-content: center;
  }
}
#content {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 10px;
  width: 85%;
}
@media screen and (min-width: 1024px) {
  #content {
    width: 70%;
  }
}
nav {
  width: 85%;
  position: relative;
}
material-dropdown {
  --menu-width: 200px;
}
@media screen and (min-width: 1024px) {
  nav {
    width: 70%;
  }
  material-dropdown:defined {
    display: none;
  }
}
nav ul {
  display: none;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}

@media screen and (min-width: 1024px) {
  nav ul {
    display: flex;
    position: static;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
  }
}
nav li {
  display: block;
  padding: 5px;
  background-color: #ffffff;
}
@media screen and (min-width: 1024px) {
  nav li {
    padding: 0;
    background-color: transparent;
  }
}
nav a,
nav a:visited {
  color: #000000;
  display: inline-block;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: transparent;
}
@media screen and (min-width: 1024px) {
  nav a,
  nav a:visited {
    color: #ffffff;
  }
}
h1 {
  font-weight: normal;
  font-size: 1.5em;
}
article {
  padding-bottom: 70px;
}
h1:first-child {
  font-size: 2.5em;
}
article h1:first-child {
  font-size: 2em;
}
h2 {
  font-weight: normal;
  font-size: 2em;
}
p {
  font-size: 0.9rem;
  line-height: 1.8rem;
}
pre {
  word-break: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

code {
  font-size: 1.1rem;
  word-break: break-all;
}
img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 1024px) {
  img {
    max-width: initial;
  }
}
#preview-portal {
  position:fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  box-shadow: 0 0 20px 10px #999;
  top: 20px;
  left: -50%;
  transform: scale(0.35);
  transform-origin: top left;
  transition: opacity 0.4s ease-out;
}
#preview-portal.visible {
  opacity: 1;
}
